parameters:
  level: 7
  paths:
    - BigBite
  bootstrapFiles:
    - Tests/bootstrap.php
  scanDirectories:
    - vendor
  dynamicConstantNames:
    - PHP_CODESNIFFER_IN_TESTS
    - PHP_CODESNIFFER_CBF
    - PHP_CODESNIFFER_VERBOSITY
